Source: dialer-app
Section: x11
Priority: optional
Maintainer: Adam Boardman <adamboardman@gmail.com>
Build-Depends: cmake,
               debhelper (>= 9),
               intltool,
               extra-cmake-modules,
               pkg-config,
               python3-all:any,
               dh-python,
               qml-module-qttest,
               qtbase5-dev (>= 5.0),
               qtdeclarative5-dev (>= 5.0),
               qtdeclarative5-dev-tools,
               qtdeclarative5-gsettings1.0,
               qtdeclarative5-ubuntu-ui-toolkit-plugin,
               qtdeclarative5-ubuntu-history0.1,
               qtdeclarative5-ubuntu-telephony-phonenumber0.1,
               qtdeclarative5-ubuntu-telephony0.1 <!nocheck> | qtdeclarative5-ubuntu-telephony-plugin <!nocheck>,
               qml-module-qt-labs-settings,
               qml-module-qtsysteminfo (>= 5.0~),
               qml-module-qtcontacts,
               qml-module-qtquick2,
               qml-module-qttest,
               xvfb,
               xauth,
Standards-Version: 3.9.8
Homepage: https://github.com/gemian/dialer-app
Vcs-Git: https://github.com/gemian/dialer-app.git

Package: dialer-app
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         qml-module-qt-labs-settings,
         qml-module-qtsysteminfo (>= 5.0~),
         accountsservice-ubuntu-touch-schemas,
         suru-icon-theme,
         qtdeclarative5-ubuntu-ui-toolkit-plugin,
         qtdeclarative5-ubuntu-history0.1 | qtdeclarative5-ubuntu-history-plugin,
         qtdeclarative5-ubuntu-telephony0.1 | qtdeclarative5-ubuntu-telephony-plugin,
         qtdeclarative5-ubuntu-telephony-phonenumber0.1,
         qtdeclarative5-ubuntu-contacts0.1,
         qtdeclarative5-gsettings1.0,
         qml-module-ubuntu-components,
         qml-module-qtcontacts,
         qml-module-qtquick2,
         qml-module-ofono,
Description: Dialer application
 An application to make phone calls

Package: dialer-app-autopilot
Architecture: all
Section: debug
Depends: ${misc:Depends},
         ${python3:Depends},
         address-book-app-autopilot,
         autopilot-qt5,
         dbus,
         libqt5test5,
         libqt5widgets5,
         dialer-app (>= ${binary:Version}),
         ofono-scripts,
         ofono-phonesim-autostart,
         python3-autopilot,
         python3-dbusmock,
         ubuntu-ui-toolkit-autopilot,
         url-dispatcher-testability,
Description: autopilot tests for dialer-app
 This package contains the autopilot tests for dialer-app.
 .
 These tests run against the ofono phone simulator (pulled in through
 ofono-phonesim-autostart).
